prompt_toolkit==3.0.48
flatten-dict==0.4.2
tomlkit==0.13.2
pygit2==1.16.0
Brotli==1.1.0
yarl==1.18.3
async-timeout==5.0.1
typing_extensions==4.12.2
shellingham==1.5.4
requests==2.32.3
omegaconf==2.3.0
configobj==5.0.9
dulwich==0.22.7
protobuf==5.28.2
protobuf==5.29.3
boto3==1.35.95
cycler==0.12.1
cryptography==44.0.0
tabulate==0.9.0
diskcache==5.6.3
pytest==8.3.4
colorama==0.4.6
docopt==0.6.2
joblib==1.4.2
six==1.17.0
fsspec==2024.12.0
gdown==5.2.0
pygtrie==2.5.0
s3transfer==0.10.4
chardet==5.2.0
celery==5.4.0
dpath==2.2.0
importlib_resources==6.5.2
aiohttp-retry==2.8.3
mpmath==1.3.0
importlib_metadata==8.5.0
Pygments==2.19.1
pathspec==0.12.1
smmap==5.0.0
tomli==2.2.1
mypy==1.14.1
urllib3==2.3.0
cffi==1.17.1
PySide6==6.8.1
pydantic_core==2.27.2
decorator==5.1.1
h2==4.1.0
text-unidecode==1.3
mypy-extensions==1.0.0
vine==5.1.0
invoke==2.2.0
multidict==6.1.0
semver==3.0.2
dictdiffer==0.9.0
hpack==4.0.0
pytz==2024.1
setproctitle==1.3.4
markdown-it-py==3.0.0
wheel==0.45.1
idna==3.10
gitdb==4.0.12
wcwidth==0.2.13
pydantic==2.10.4
dvc-task==0.40.2
annotated-types==0.7.0
threadpoolctl==3.5.0
pip==24.3.1
hyperframe==6.0.1
rich==13.9.4
gmpy2==2.1.5
typer==0.15.1
distro==1.9.0
eval_type_backport==0.2.2
shiboken6==6.8.1
click-didyoumean==0.3.1
billiard==4.2.1
frozenlist==1.5.0
pyOpenSSL==24.3.0
iterative-telemetry==0.0.9
python-slugify==8.0.4
soupsieve==2.5
sqltrie==0.11.1
ruamel.yaml.clib==0.2.8
unicodedata2==15.1.0
packaging==24.2
aiohappyeyeballs==2.4.4
tensorboard==2.18.0
kiwisolver==1.4.7
snakeviz==2.2.2
kombu==5.4.1
pluggy==1.5.0
arrow==1.3.0
zc.lockfile==3.0.post1
triton==3.1.0
types-python-dateutil==2.9.0.20241206
orjson==3.10.13
wandb==0.19.2
pycparser==2.22
charset-normalizer==3.4.1
munkres==1.1.4
networkx==3.4.2
docker-pycreds==0.4.0
aiosignal==1.3.2
amqp==5.2.0
pyparsing==3.2.1
shortuuid==1.0.13
jmespath==1.0.1
aiohttp==3.11.11
scmrepo==3.3.9
atpublic==5.0
ruamel.yaml==0.18.10
grpcio==1.69.0
pathlib2==2.3.7.post1
typer-slim==0.15.1
fonttools==4.55.3
future==1.0.0
GitPython==3.1.44
platformdirs==4.3.6
appdirs==1.4.4
absl-py==2.1.0
tornado==6.4.2
torch-tb-profiler==0.4.3
torch==2.5.1
Jinja2==3.1.5
dvc==3.58.0
click==8.1.8
PySocks==1.7.1
sentry-sdk==2.19.2
gto==1.7.2
torchvision==0.20.1
dvc-studio-client==0.21.0
dvc-render==1.0.2
binaryornot==0.4.4
PyYAML==6.0.2
tqdm==4.67.1
sympy==1.13.3
numpy==2.2.1
Markdown==3.7
flufl.lock==8.1.0
shtab==1.7.1
matplotlib==3.10.0
zipp==3.21.0
voluptuous==0.15.2
grandalf==0.7
pandas==2.2.3
cookiecutter==2.6.0
Werkzeug==3.1.3
psutil==6.1.1
iniconfig==2.0.0
gssapi==1.9.0
propcache==0.2.1
pydot==3.0.3
python-dateutil==2.9.0.post0
MarkupSafe==3.0.2
dvc-objects==5.1.0
hydra-core==1.3.2
beautifulsoup4==4.12.3
coverage==7.6.10
attrs==24.3.0
dvc-data==3.16.7
zstandard==0.23.0
dvc-http==2.32.0
certifi==2024.12.14
entrypoints==0.4
click-repl==0.3.0
mdurl==0.1.2
scikit-learn==1.6.0
pillow==11.1.0
botocore==1.35.95
filelock==3.16.1
pipreqs==0.4.13
tzdata==2024.2
contourpy==1.3.1
exceptiongroup==1.2.2
click-plugins==1.1.1
scipy==1.15.0
loguru==0.7.2
setuptools==75.7.0
yarg==0.1.9
antlr4-python3-runtime==4.9.3
tensorboard-data-server==0.7.2
asyncssh==2.19.0
funcy==2.0
